#espacoLogin{
    padding-top: 15px;
    display:flex;
    justify-content: center;
}

.areaLogin{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    font-size: larger;
    border: 1px solid blue;
    border-radius: 70px;
    box-shadow: 10px 5px 25px black;
}

.login{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 0px;
    border: 1px solid blue;
    border-top-right-radius: 70px;
    border-top-left-radius: 70px;
    background-color: blue;
    
}

.aviso{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.usuario{
    padding-top: 15px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.senha{
    padding-top: 10px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.botaoLogin{
    padding-bottom: 10px;
    padding-top: 5px;
    display: flex;
    justify-content: center;
}

#usuario{
    width: 60%;
}

#senha{
    width: 60%;
}

#botaoLogin{
    font-size: large;
    background-color: white;
    border-color: blue;
    border-radius: 10px;
    color: blue;
}

#botaoLogin:hover{
    background-color: blue;
    color: white;
}

#login{
    color: white;
}

#aviso{
    color: rgb(201, 0, 0);
}